.error {
  color: #E34B11;
  text-transform: none;
}

.dropdown-menu > .error {
  font-size: 10px;
}

.pagination > li > a.active {
  background: #428992;
}

input.form-control:focus:invalid {
  border: 1px solid #E34B11;
}

#course-left-sidebar label {
  font-weight: normal;
  color: #fff;
}

#course-left-sidebar .btn {
  width: 100%;
}
